# Info about this file: https://pip.pypa.io/en/latest/user_guide/#requirements-files
discord.py==1.7.3                               # https://discordpy.readthedocs.io/
asyncpraw==7.4.0                                # https://asyncpraw.readthedocs.io/
coloredlogs==15.0.1                             # https://coloredlogs.readthedocs.io/
parsedatetime==2.6                              # https://pypi.org/project/parsedatetime/
PrivateBinAPI~=1.0.0                            # https://pypi.org/project/PrivateBinAPI/
discord-py-interactions==3.0.2                  # https://discord-py-slash-command.readthedocs.io/en/latest/
mysqlclient==2.1.0rc1 --no-binary=mysqlclient   # https://pypi.org/project/mysqlclient/2.0.3/
SQLAlchemy-Utils==0.37.8                        # https://sqlalchemy-utils.readthedocs.io/
pyaml_env~=1.1.1                                # https://github.com/mkaranasou/pyaml_env
requests==2.26.0                                # https://docs.python-requests.org/en/latest/
git+https://github.com/snaacky/dataset.git