# Info about this file: https://pip.pypa.io/en/latest/user_guide/#requirements-files

# This file lists all the requirements needed to run this repository.

# Run the command below to install the requirements.
# pip3 install -r requirements.txt
discord.py==1.6.0                   # https://discordpy.readthedocs.io/
dataset==1.5.0                      # https://dataset.readthedocs.io/
asyncpraw==7.1.0                    # https://asyncpraw.readthedocs.io/
coloredlogs==15.0                   # https://coloredlogs.readthedocs.io/en/latest/
parsedatetime==2.6                  # https://pypi.org/project/parsedatetime/
PrivateBinAPI~=1.0.0                # https://pypi.org/project/PrivateBinAPI/
discord-py-slash-command==2.3.2     # https://discord-py-slash-command.readthedocs.io/en/latest/
mysqlclient==2.0.3                  # https://pypi.org/project/mysqlclient/2.0.3/
