# Info about this file: https://pip.pypa.io/en/latest/user_guide/#requirements-files

# This file lists all the requirements needed to run this repository.

# Run the command below to install the requirements.
# pip install -r requirements.txt


###### Requirements without Version Specifiers ######`

###### Requirements with Version Specifiers ######`
discord.py==1.5.1                   # http://discordpy.readthedocs.io/
